[submodule "externals/bash"]
	path = externals/bash
	url = https://github.com/sh4/bash.git
[submodule "externals/avrdude"]
	path = externals/avrdude
	url = https://github.com/sh4/avrdude.git
[submodule "externals/make"]
	path = externals/make
	url = https://github.com/sh4/make.git
[submodule "externals/Android-Terminal-Emulator"]
	path = externals/Android-Terminal-Emulator
	url = https://github.com/sh4/Android-Terminal-Emulator.git
[submodule "externals/usb-serial-for-android"]
	path = externals/usb-serial-for-android
	url = https://github.com/sh4/usb-serial-for-android.git
[submodule "externals/vim"]
	path = externals/vim
	url = https://github.com/sh4/vim.git
